.pessoa {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  display: inline-block;
  text-align: center;
}

.pessoa img {
  border-radius: 50%;
}

.pessoa h2 {
  color: #333;
}

.pessoa p {
  color: #666;
}
